.video-gallery {
  display: flex;
  gap: 16px;
}
.main-video {
  flex: 3;
}
.video-playlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.main-video-frame {
  width: 100%;
  height: 500px;
}