.videoplaylist {
  display: flex;
  gap: 20px;
}
 
.main-video {
  flex: 2;
}
 
.main-video video {
  width: 100%;
  border-radius: 10px;
}
 
.playlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f0f0f0;
  border: 1px solid red;

}
 
.playlist-video {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s;
}
 
.playlist-video:hover {
  transform: scale(1.05);
}

.playlist-item {
  width: 100%;
}

.video-fallback {
  width: 100%;
  height: 100px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
}

 