.videoplaylist {
  display: flex;
  gap: 20px;
}
 
.main-video {
  flex: 2;
}
 
.main-video video {
  width: 100%;
  border-radius: 10px;
}
 
.playlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 
.playlist-video {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s;
}
 
.playlist-video:hover {
  transform: scale(1.05);
}
 