.block.video a {
    display: none;
}

.block.video #video-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.block.video #video-1 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}